root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.md]
trim_trailing_whitespace = false
indent_style = tab

[*.js]
insert_final_newline = true

[*.sh]
indent_size = 2
insert_final_newline = true

[*.yml]
indent_size = 4

[*.env]
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset